body {
    top: 25%;
    position: absolute;
    right: 0;
    left: 0;
}
#txt {
    display: block;
    margin-bottom: 20px;
    font-size: 5rem;
    letter-spacing: 6px;
    color: #37474f;
    text-shadow: 2px 2px #999;
    font-weight: 600;
}
 input, input[type=text] {
    padding: 12px;
    color: #222;
    background-color: #f3f3f3 !important;
    border: 1px #333 !important;
    width: 50% !important;
}  
.search-input {
    padding: 12px;
    border-radius: 2px;
    font-size: 1.1rem;
}
input::-webkit-input-placeholder {
    color: #444 !important;
}
input:-moz-placeholder { /* Firefox 18- */
    color: #444 !important;  
}
input::-moz-placeholder {  /* Firefox 19+ */
    color: #444 !important;  
}
input:-ms-input-placeholder {  
    color: #444 !important;  
}
input[type=text]:focus:not([readonly]) {
   -moz-box-shadow:    inset 0 0 2px #000;
   -webkit-box-shadow: inset 0 0 2px #000;
   box-shadow:         inset 0 0 2px #000;
}
.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
}
.card .card-content {
    padding: 13px;
    border-radius: 0 0 2px 2px;
}
a:hover {
    text-decoration: underline;
}
